<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="DevExpressMvvm" version="16.2.3.0" targetFramework="net45" />
  <package id="NLog" version="4.4.9" targetFramework="net45" />
  <package id="NLog.Config" version="4.4.9" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.9" targetFramework="net45" />
  <package id="Npgsql" version="3.2.2" targetFramework="net45" />
  <package id="Swsu.Common" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Common.Windows.DevExpress" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Geo" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Geo.Epsg" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Geo.SimpleFeatures" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Maps.Windows" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Maps.Windows.Epsg" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Maps.Windows.Maps.Wmts" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.OpenGis.Schemas" version="1.0.0-alpha" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
</packages>