<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpressMvvm" version="16.2.3.0" targetFramework="net45" />
  <package id="Swsu.Common" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Common.Windows.DevExpress" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Geo" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Geo.Epsg" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Maps.Windows" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Maps.Windows.Epsg" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.Maps.Windows.Maps.Wmts" version="1.0.0-alpha" targetFramework="net45" />
  <package id="Swsu.OpenGis.Schemas" version="1.0.0-alpha" targetFramework="net45" />
</packages>